certifi
charset-normalizer
click
colorama
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
typing_extensions
urllib3
Werkzeug
aiohttp[speedups]
SQLAlchemy==1.4.48
aiodns
requests
python-dotenv
pydantic
bcrypt
asyncpg
